.pairs-popover.pt-popover .ReactTable {
  max-height: 450px;
}

.pairs-popover.pt-popover .ReactTable .rt-thead .rt-th {
  padding: 10px 5px;
  background-color: rgba(0, 0, 0, 0.03);
}

.pairs-popover.pt-popover .ReactTable .rt-thead .rt-th {
  border: 0px solid;
}

.pairs-popover.pt-popover .ReactTable .rt-tbody .rt-tr {
  cursor: pointer;
}

.pairs-popover.pt-popover .ReactTable .rt-tbody .rt-tr .rt-td:first-child {
  padding-left: 15px;
}

.pairs-popover.pt-popover .ReactTable .rt-tbody .rt-tr .rt-td:last-child {
  padding-right: 15px;
}

.pairs-popover.pt-popover .ReactTable .rt-td.percent-change .positive {
  color: #3dcc91;
}

.pairs-popover.pt-popover .ReactTable .rt-td.percent-change .negative {
  color: #ff7373;
}
